.brewery-page {
	svg {
		display: block;
		margin: 0 auto;
	}

	.states {
		fill: #2980b9;

		&:hover {
				fill: red;
				cursor: pointer;
		}
	}

	.brewery-background {
		background-image: url('/images/beer-background.jpg');
		padding: 30px 15px;
		color: #fff;
	}
}