<nav class="navbar navbar-toggleable-md">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<a href="/" class="navbar-brand vertical-align-items">
		<img src="/images/brewmaster-logo-bw.png" alt="Brewmaster Logo">
		<div class="title smaller-font">
			<div class="brew-title">BREW</div>
			<div class="master-title">MASTER</div>
		</div>
	</a>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
      	{{#link-to "breweries" class="nav-link"}}Breweries{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "beers" class="nav-link"}}Beers{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "beers" class="nav-link"}}Styles{{/link-to}}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{{yield}}
