<div class="beer-page">
	
	<div class="chart-row">
		<div class="container">
			<h2 class="text-center">Explore By Style</h2>
			{{#style-bubble chartData=chartData}}{{/style-bubble}}
		</div>
	</div>

	<div class="top-table-row">
		<div class="container">
			<h2>Top 10 Beers</h2>
			{{beers/beer-table beers=topBeers}}
		</div>
	</div>
</div>
{{outlet}}
