<div class="brewery-page">
	
	<div class="map-row">
		<div class="container">
			<h2 class="text-center">Explore By State</h2>
			{{#us-map}}{{/us-map}}
			{{!-- {{#each model as |brewery|}}
				<h6>{{brewery.name}}</h6>
			{{/each}} --}}
		</div>
	</div>

	<div class="news-row">
		<div class="container">
			<h2>Brewery News</h2>
			<div class="row">
				{{#each model.news as |article|}}
					<div class="col-12 col-md-4">
						{{breweries/news-card article=article}}
					</div>
				{{/each}}
			</div>
		</div>
		{{!-- News stuff here --}}
	</div>

	<div class="top-table">
		<div class="container">
			<h2>Top 10 Breweries</h2>
			{{breweries/brewery-table breweries=topBreweries}}
		</div>
	</div>

</div>
{{outlet}}
