<div class="brewery-page">
	<div class="container">
		<h2 class="text-center">Explore By State</h2>
		{{#us-map}}{{/us-map}}
		{{#each model as |brewery|}}
			<h6>{{brewery.name}}</h6>
		{{/each}}
	</div>
</div>
{{outlet}}
