<div class="home-page">
	<div class="home-background full-background full-height">
		<div class="logo top">
			<img src="/images/brewmaster-logo-bw.png" alt="Brewmaster Logo">
			<div class="title">
				<div class="brew-title">BREW</div>
				<div class="master-title">MASTER</div>
			</div>
		</div>
		<div class="frame top"></div>
		<div class="frame bottom"></div>
		<div class="frame left"></div>
		<div class="frame right"></div>
		<div class="container d-flex full-height align-items-center align-middle">
			<div class="row full-width">
				{{!-- <div class="col-12">
					<h2>Search</h2>
					<div class="row">
						<div class="form-group col-12 offset-md-4 col-md-4">
							<input type="text" class="form-control">
						</div>
					</div>
				</div> --}}
				<div class="col-12">
					<div class="row">
						<div class="col-12 col-md-4">
							<a class="btn btn-white btn-lg btn-block" href="">
								BREWERIES
							</a>
						</div>
						<div class="col-12 col-md-4">
							<a class="btn btn-white btn-lg btn-block" href="">
								BEERS
							</a>
						</div>
						<div class="col-12 col-md-4">
							<a class="btn btn-white btn-lg btn-block" href="">
								STYLES
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{outlet}}
