<div class="brewery-page">
	<div class="full-background state-background">
		<div class="container">
			{{state}}
		</div>
	</div>
	
	<div class="container">

		{{breweries/brewery-table breweries=model}}
		
	</div>
</div>

{{outlet}}
